body {
	background: #000000;
	color: white;
}

header {
	background: url(novo-corona.jpg);
	padding: 10px 0 20px 0;
	border-bottom: 6px solid #FF0000;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

h1 a {
	color: #000000;
	text-decoration: none;
}

nav{
	position: absolute;
	top: 33%;
	right: 5%;
}

nav li {
	display: inline;
	margin: 0 0 0 30px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

nav a:hover {
	color: red;
	text-decoration: underline;
}

.titulos-principais {
	text-align: left;
	width: 60%;
	padding: 20px 0 20px 20px;
	box-sizing: border-box;
	border-top: 6px solid #FF0000;
	border-top-right-radius: 10px;
	border-bottom: 6px solid #FF0000;
	border-bottom-right-radius: 10px;
	background-color: #ff5c5c;
}

main {
	width: 1000px;
	margin: 30px auto;
	padding: 30px 0;
	border: 2px solid #FF0000;
	border-radius: 20px;
	background: white;
	text-align: center;
}

h2 {
	color: black;
	font-size: 27px;
	padding-right: 15px;
	padding-left: 15px;
}

.texto {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 20px;
	color: black;
}

p {
	color: black;
}

footer {
	text-align: center;
	background: url(novo-corona.jpg);
	color: #000000;
	border-top: 6px solid #FF0000;
	padding: 15px;
	font-size: 13px;
}